body{
    background-color: #141414;
    color: white;
    font-family: Arial;
}
h1{
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
}
main{
    background-color: rgb(165, 165, 165);
    color: black;
}
.headerMaiin{
    font-variant: small-caps;
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
}